<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manta.worldcup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Worldcup"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.StatisticActivity"></activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.GameResultActivity" />
        <activity
            android:name=".activity.AddTopicActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.AddPictureActivity" />
        <activity android:name=".activity.GameActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>